.container {
	background: #EBEBEB;
	width: 100%;
	margin: auto;
	font-family: 'Josefin Sans', sans-serif;
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #5D737E;
}

li {
	float: left;
	background: #5D737E;
}

li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	color: #EBEBEB;
	text-decoration-style: none;
}

li a:hover {
	background: #052230;
}

h1 {
	clear:both;
	text-align: center;
	font-weight: 700;
	padding: 20px;
	color: #052230;
	font-size: 35px;
}

body {
	width: 100%;
	margin: auto;
}

.developerblurb {
	width: 60%;
	height: 200px;
	margin: auto;
	padding: 30px;

}


h2 {
	font-weight: 400;
	color: #EBEBEB;
	text-align: left;
	background: #5D737E;
	padding: 10px;
}

p {
	padding: 20px;
	font-weight: 300;
	float:left;
	font-size: 24px;

}

#mypic {
	float: right;
	border: 10px solid #331629;
}

img {
	margin-left: 15px;
}

footer {
	clear: both;
}